
body { background: url("https://static3.depositphotos.com/1001442/258/i/950/depositphotos_2582409-stock-photo-html-background.jpg"); 
       background-size: cover;
     }

.neon { 
        position:absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
        padding: 0 20px;
        font-size: 6em;
        color:#fff;
        text-shadow: 0 0 20px #ff005d;
        }

.neon:after { 
              content: attr(data-text);
              position: absolute;
              top:0;
              left:0;
              padding: 0 20px;
              z-index: -1;
              color: #ff005b;
              filter: blur(15px);
            }

.neon:before {
               content:' ';
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background: #fe3a80;
               z-index: -2;
               opacity: .5;
               filter: blur(40px); 
             }
a { text-decoration: none; 
    color:pink;
  }
a:hover { text-decoration: none;
          color:aqua; 
      }



